@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
*::selection {
  background-color: #0d6efd;
  color: #fff;
}
a {
  text-decoration: none !important;
  color: #111 !important;
}
.tac {
  text-align: center;
}
.flex {
  display: flex;
}
html {
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.ml10 {
  margin-left: 10px;
}
.jcsb {
  justify-content: space-between;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Inter', sans-serif !important;
  padding-top: var(--header-height);
  color: #1b1b1b;
}

.fow300 {
  font-weight: 300;
}

.fow500 {
  font-weight: 500;
}

.fow700 {
  font-weight: 700;
}

.fow900 {
  font-weight: 900;
}

.mla {
  margin-left: auto;
}

.aic {
  align-items: center;
}
.ma {
  margin: 0 auto;
}
button {
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
button:focus {
  outline: none !important;
}
button:hover {
  cursor: pointer;
}
